<a href="https://colab.research.google.com/github/Olugbemiga/batch-spool/blob/master/batch_spool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def batch_spool(Connection_string,query,num_of_rows,filename):
    import pyodbc
    import pandas as pd
    import math
    from pandas import ExcelWriter
    cnxn = pyodbc.connect(Connection_string)
    data = pd.read_sql(query,cnxn)
    num_of_sheets = (math.ceil(len(data)/num_of_rows))
    a= 0
    num_of_rows0 = num_of_rows
    for i in range(num_of_sheets):
        data.loc[a:num_of_rows,'batch_num'] = i+1
        i= i+1
        a = num_of_rows+1
        num_of_rows= num_of_rows+num_of_rows0
    for i in list(data['batch_num'].unique()):
        data.loc[data['batch_num'] == i].to_excel(filename+str(i)+'.xlsx')

In [ ]:
batch_spool('Driver={SQL Server}' +';SERVER=172.10.10.10;1587;Database=stage;UID="";PWD=""',
            "select top 1000000000 from t1",1000000,'FileName')